h1, h2 {
  & > a {
    text-decoration: none;
    color: $black;
  }
}

.main-wrap {
  @include xy-grid-container;
  @include xy-grid();
  margin-top: 2rem;

  @at-root {
    & {
      @include breakpoint(medium) {
        margin-top: 5rem;
      }
    }
    header.featured-hero  {
      margin-top: 5rem;
    }
    header.featured-hero + & {
      margin-top: 2rem;
    }
  }

  &.sidebar-left {

    // Place the sidebar below main content on small screens ...
      @include breakpoint(small) {
        .main-content { order: 1; }
        .sidebar { order: 2; }
      }

    // ... and to the left on medium-up screens, when using the sidebar-left template
      @include breakpoint(medium) {
        .main-content { order: 2; }
        .sidebar { order: 1; }
      }
  }

  // Full width template
  &.full-width {
    .main-content {
      @include breakpoint(medium) {
        @include xy-cell(6);
        @include xy-cell-offset(3);
      }
    }
  }

  .main-content {
    h1 { display: none; }
    // Default template
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(8);
    }

    h3, h4, h5, h6 {
      color: $body-font-color;
      font-family: $body-font-family;
      font-weight: 600;
      margin-bottom: .15rem;
      margin-top: .45rem;
    }
  }

  .sidebar {

    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }

  // Comments template
  #respond {
    margin-top: 2.5rem;

    input[type="submit"] {
      margin-top: 1rem;
    }

    #allowed_tags {
      display: none;
    }
  }

  // Form
  .wpcf7 {
    margin-top: 1rem;
  }
  label {
    color: $medium-gray;
  }
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    font-size: .8rem;
    height: 2rem;

  }
  .wpcf7-submit {
    //@include button(false, $black, auto, auto, hollow);
    font-family: $header-font-family;
    @include button;
    @include button-style($light-gray, $medium-gray, $black);
    //@include button-hollow;
  }
  // Validation
  div.wpcf7-response-output {
    text-align: center;
    color: $white;
    background-color: get-color(primary);
  }
  div.wpcf7-validation-errors {
    border: none;
  }
  div.wpcf7-mail-sent-ok {
  	border: none;
  }
  div.wpcf7-mail-sent-ng {
  	border: none;
  }
  div.wpcf7-spam-blocked {
  	border: none;
  }
  span.wpcf7-not-valid-tip {
    color: get-color(primary);
    position: relative;
    font-size: .8rem;
    top: -1rem;
  }
  input[aria-invalid="true"] {
    border-bottom: 2px solid get-color(primary);
  }

  // Custom
  .main-content {
    font-size: .8rem;
    h2 {
      margin-top: 2.5rem;
    }
    time {
      font-size: .6rem;
    }
  }
}
